@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body {

    margin: 200px;
    background-color: rgb(24, 138, 184);

}
.img-botao{
    width: 100%;
    
}
.div-botao{
    width: 50px;
    box-shadow: rgb(145, 7, 7) 3px 3px 3px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    position: relative;
    top: 60px;
    left: 10px;
}

/* :hover */
.div-botao:hover{
    cursor: pointer;
    opacity: 70%;
}
.div-botao:active {
    box-shadow: none;
}
.bloco:hover {
    cursor: pointer;
    opacity: 70%;
}
.div-titulo{
    font-family: "Acme";
    background-color: rgb(173, 226, 213);
    display: flex;
    justify-content: center;
    border: solid 5px rgb(7, 62, 94);
    border-radius: 9px;
    font-size: 22px;
    margin-bottom: -57px;
}

.section-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border: rgb(7, 62, 94) 5px solid;
    border-radius: 15px;
    background-color: rgb(173, 226, 213);
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("assets/img/céu-nubladoNew3.jpg");
}

.div-start, .div-end, .div-offset {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    background-color: rgb(3, 25, 51);
    width: 35px;
    height: 500px;
    cursor: pointer;

}

.div-um {
    background-color: red;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.div-dois {
    background-color: orange;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.div-tres {
    background-color: yellow;
    width: 240px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.div-quatro {
    background-color: greenyellow;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.div-vitoria{
    font-family: "Acme";
    width: 350px;
    height: 90px;
    background-color: green;
    color: white;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position: relative;
    bottom: 350px;
    left: 230px;
}

.div-alert{
    font-family: "Acme";
    width: 200px;
    height: 40px;
    background-color: rgb(212, 22, 22);
    color: white;
    border-radius: 40px 5px 5px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    position: relative;
    bottom: 581px;
    left: 84px;
}

.img-dedo{
    width: 50px;
}