@import url('https://fonts.googleapis.com/css2?family=Acme&family=Mohave&family=Patrick+Hand&family=Roboto&display=swap');

body {
    background-color: rgb(255, 238, 208);
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#div-start, #div-end, #div-offset {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    background-color: black;
    width: 20px;
    height: 500px;
    margin-top: 120px;
}

#div-um {
    background-color: red;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

#div-dois {
    background-color: orange;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

#div-tres {
    background-color: yellow;
    width: 240px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

#div-quatro {
    background-color: greenyellow;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.bloco {
    cursor: pointer;

}

.div-vitoria{
    width: 240px;
    height: 40px;
    font-family: 'Acme';
    background-color:thistle;
    color: black;
    border-radius: 9px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    border: 2px dashed black;
}

header {
    text-align: center;
    border: 2px dashed black;
    padding: 10px;
    background-color: transparent;
    width: 50%;
    margin-left: 448px;
}

h1 {
    font-family: 'Acme';
}
