

body {
    margin: 200px;
}

.section-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border: rgb(7, 62, 94) 5px solid;
    border-radius: 15px;
    background-color: rgb(115, 245, 245);
    padding-left: 15px;
    padding-right: 15px;
}

.div-start, .div-end, .div-offset {
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
    background-color: black;
    width: 20px;
    height: 500px;
}

.div-um {
    background-color: red;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.div-dois {
    background-color: orange;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.div-tres {
    background-color: yellow;
    width: 240px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.div-quatro {
    background-color: greenyellow;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 3px black solid;
}

.bloco {
    cursor: pointer;

}

.div-vitoria{
    width: 295px;
    height: 78px;
    background-color: green;
    color: white;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}  